<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Recor</title>
</head>
<body>
  
  <div class="navbar-main-page">
    <div class="logo-container">
      <img src="/images/logo.png" height="80"/>
    </div>

    <div class="nav-middle-buttons">
      <div class="nav-middle-button">
          <span class="active">Home</span>
      </div>
      <div class="nav-middle-button">
          <span>About</span>
      </div>
      <div class="nav-middle-button">
          <span>Live Features</span>
      </div>
    </div>

    <div class="nav-right-buttons">
      <div onclick="createRoom()" class="create-room-button">Create</div>
    </div>
  </div>

  <div class="home-page-section">

    <div class="home-page-section-left">
      <div class="home-page-headline">
        COMMUNICATION MADE SIMPLE
      </div>

      <div class="home-page-main-text">
        <div>Easily engage</div> 
        <div>your audience</div>
        <div>in minutes<span style="color: rgb(3, 5, 255);">.</span></div>
      </div>

      <div class="home-page-sub-text">
        <div>Powerful video communication </div>
        <div>tool for companies of all sizes</div>
      </div>
      
      <div class="home-page-create-button">
        <div onclick="createRoom()" class="create-room-button">
          Create New Room
        </div>
      </div>
    </div>

    <div class="home-page-section-right">
      <img src="/images/landing_page_graphic.png" width="400"/>
    </div>

  </div>

  <div class="about-section">
    <div>
      <p>
        Our mission is to simulate a live meeting. <br/>
        Powerful video comunication tool for <br/>
        companies of all sizes
      </p>

      <p>
        PowerfuPowerful video comunication tool for <br/>
        companies of all sizes Powerful video comunication tool for <br/>
        companies of all sizes
      </p>
    </div>

  </div>
  
  <script type="text/javascript" async defer src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
  <script src="/js/janus.js"></script>
  <script src="/js/createRoom.js"></script>
</body>
</html>