<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Home</title>
</head>
<body>
  
  <div class="navbar-main-page">
    <div class="logo-container">
      <img src="/images/logo.png" height="80"/>
    </div>

    <div class="nav-middle-buttons">
      <div class="nav-middle-button">
          <span class="active">Home</span>
      </div>
      <div class="nav-middle-button">
          <span id="about-anchor">About</span>
      </div>
      <div class="nav-middle-button">
          <span>Live Features</span>
      </div>
    </div>

    <div class="nav-right-buttons">
      <div onclick="createRoom()" class="create-room-button">Create</div>
    </div>
  </nav>
  
  <div class="wrapper">
    <div class="text-wrapper">
      <div class="primary-text">
        Easily Engage your audience in minutes
      </div>
      <div class = "secondary-text">
        Lorem Ipsum 
      </div>
      <div class="buttons">
        <button> Lorem </button>
        <button> Join a Call </button>
      </div>
    </div>
    <div class="image-wrapper">
      <img src="/images/landing_page_graphic.png" alt="" class="f-image">
    </div>
  </div>

  <div id="about" class="about-section">
    <div class="about-section-content">
      <p class="about-section-main-text">
        Our mission is to help transform your<br/>
        virtual meetings by providing in-depth<br/> 
        analysis with a timeline.
      </p>

      <p class="about-section-sub-text">
        Recor allows individuals to seamlessly analyze data after conferences. Our unique <br/> 
        features include a full transcription timeline, emotion tracking and meeting highlights. <br/>
        Check out all sorts of interesting statistics about your meeting such as most keywords<br/>
        used, graphs of participants interactions and many more!<br/>
      </p>
      <div class="about-section-graphic">
        <img src="/images/About_page_graphic_constructed.png"/>
      </div>
    </div>

  </div>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/janus.js"></script>
  <script src="/js/createRoom.js"></script>

  <script>
    $('#about-anchor').click(function () {
      $('html, body').animate({
        scrollTop: $('#about').offset().top - 20
      }, 1000);
    })
  </script>
</body>
</html>