body{
    font-family: 'Montserrat'!important;
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.logo-container{
    margin-top: 5px;
    margin-left: 20px; 
}

.image-wrapper{
    width:60%;
    height: 40%;
}

.navbar-main-page{
    display: flex;
    justify-content: space-between;
    margin: 5px 30px;
    background: white;
    position: absolute;
    width: 90%;
    top: 0;
}

.nav-middle-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.nav-middle-buttons div{
    margin: 0 10px;
}

.nav-middle-button {
    position: relative;
    z-index: 2;
    font-weight: 600;
}

.nav-middle-button span{
    opacity: 0.4;
    cursor: pointer;
    transition: 0.2s ease;
}

.nav-middle-button span:hover{
    opacity: 1;
}

.nav-right-buttons {
    margin-top: 30px;
    /* margin-right: 10px; */
}

.create-room-button {
    position: relative;
    z-index: 10000;
    border-radius: .5rem;
    padding: 8px 30px;
    color: white;
    cursor: pointer;
    background: rgb(3, 5, 255);
}

.active {
    opacity: 1 !important;
}

.home-page-section {
    height: 100vh;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.home-page-section-left {
    margin: 100px 20px 0 100px;
}

.home-page-section-right{
    margin-top: 25px;
    margin-right: 80px;
}

.home-page-section-right img {
    position: relative;
    top: 40px;
    transform: scale(1.5);
}

.home-page-headline {
    font-style: normal;
    font-weight: lighter;
    position: relative;
    left: 5px;
    color: rgba(143,143,143,1);
    white-space: nowrap;
    overflow: visible;
}

.home-page-main-text {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 5px;
    color: rgba(25,26,30,1);
    white-space: nowrap;
    overflow: visible;
    font-style: normal;
}

.home-page-sub-text {
    margin-top: 5px;
    opacity: 0.5;
    font-size: 1.2rem;
}

.home-page-create-button {
    margin-top: 20px;
}

.home-page-create-button * {
    text-align: center
}

.about-section {
    height: 100vh;
    margin: 20px auto;
}

.about-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-section-content p {
    text-align: left;
    margin: 0;
}

.about-section-main-text {
    font-weight: 900;
    font-size: 2.5rem;
}

p.about-section-sub-text {
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.5;
    margin-top: 10px;
}

.about-section-graphic{
    text-align: center;
}

.about-section-graphic img {
    width: 75%;
}